input{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.row{
    display: flex;
    flex-direction: row;
}

.background{
    margin-top: 5%;
    margin-bottom: 5%;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.right-end{
    margin-left: auto;
    width: 100%;
}

.trade-log{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-right: 20px;
}

.trade-log-date{
    width: 150px;
}

.trade-log-side{
    width: 30px;
}

.trade-log-volume{
    width: 120px;
    text-align: end;
}

.trade-log-wrapper{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.pointer{
    cursor: pointer;
}