input{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.row{
    display: flex;
    flex-direction: row;
}

.background{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.right-end{
    margin-left: auto;
    width: 100%;
}

.trade-log{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-right: 20px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.trade-log-date{
    width: 150px;
}

.trade-log-side{
    width: 30px;
}

.trade-log-volume{
    width: 120px;
    text-align: end;
}

.trade-log-wrapper{
    background-color: #f6fff7;
    border-radius: 15px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pointer{
    cursor: pointer;
}

.date-of-profit{
    width: 150px;
}

.btc-of-profit{
    width: 200px;
}

.usd-of-profit{
    width: 200px;
}

.profit-of-profit{
    width: 190px;
}

.profit-form{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding-left: 40px;
}

.head{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: indigo;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}